.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

.cube {
    width: 200px;
    height: 200px;
    border: solid black 1px;
    margin-left: 20px;
    border-radius: 20px;

}

.cube:hover{
    border-radius: 10px;
    transition: 2s;
    filter: grayscale(0%);

}

.keanu{

    background-image: url("keanu-mirror.jpg");
    background-size: cover;
  
}

.cube.keanu:hover{
    transition:2s;
    width: 600px;
    height: 600px;
    background-image: url("keanu-government.png");
}



.middle{

    background-image: url("2.jpg");
    background-size: cover;
    filter: grayscale(100%);
    
    
}

.middle:hover{
    transition: 2s;
    transform: translateY(-30vh) rotate(180deg);
}

.leo{
    background-image: url("leo.jpg");
    background-size:cover;
    border-radius: 100px;
    filter: grayscale(100%);
}


.feu{
    background-image: url("feu.png");
    background-size:contain;
    background-repeat: no-repeat;
    height: 150px;
    width : 100px;

}
.voiture{
    background-image: url("voiture.png");
    background-size:contain;
    background-repeat: no-repeat;
    height: 150px;
    width : 1200px;

}

.voiture:hover{
    transform: translateX(120vh);
    transition: 2s;
}


.container2{
    display:flex;
    flex-wrap:wrap; 
}